body {
  background-color: #070707;
}

#title-box {
  width: 100%;
  text-align: center;
}

#title {
  display: inline-block;
  color: #EBEEE8;
  font-family: 'Unbounded';
  font-weight: 600;
  font-size: 36px;
  position: relative;
  z-index: 1;
  cursor: default;
  margin-bottom: 40px;
}

#title::after {
  content: 'React to News';
  position: absolute;
  color: #DF5612;
  left: 1px;
  top: 4px;
  transform: scale(0.98);
  font-weight: 500;
  z-index: -1;
  transition: 0.15s ease-in-out;
}

#title:hover::after {
  transform: scale(1.03);
  top: -3px;
}

#news-list {
  margin: 0;
  padding: 0 7% 0 7%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.news-block {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 20vh;
  background-color: #DF5612;
  border-radius: 38px;
  margin-bottom: 80px;
}

.news-item:nth-child(even) {
  display: flex;
  justify-content: flex-end;
}

.news-item:nth-child(even) > .news-block {
  align-items: flex-end;
}

/* .news-item:nth-child(even) > .news-block {
  
} */

.news-item:nth-child(3n + 1) > .news-block {
  background-color: #DF5612;
  color: #DF5612;
}

.news-item:nth-child(3n + 2) > .news-block {
  background-color: #1EAE9E;
  color: #1EAE9E;
}

.news-item:nth-child(3n + 3) > .news-block {
  background-color: #6877A1;
  color: #6877A1;
}

.news-block > .headline {
  background-color: #D9D9D9;
  font-family: 'Unbounded';
  font-weight: 500;
  font-size: 18px;
  width: fit-content;
  padding: 10px;
  margin: 15px;
  border-radius: 18px;
}

.news-block > .news-content {
  color: #D9D9D9;
  font-family: 'Kanit';
  font-weight: 500;
  font-size: 14px;
  padding: 0 20px 0 20px;
}




