body {
  background-color: #070707;
}

/* TITLE */

#title-box {
  width: 100%;
  text-align: center;
}

#title {
  display: inline-block;
  color: #EBEEE8;
  font-family: 'Unbounded';
  font-weight: 600;
  font-size: 36px;
  position: relative;
  z-index: 1;
  cursor: default;
  margin-bottom: 40px;
}

#title::after {
  content: 'React to News';
  position: absolute;
  color: #DF5612;
  left: 1px;
  top: 4px;
  transform: scale(0.98);
  font-weight: 500;
  z-index: -1;
  transition: 0.15s ease-in-out;
}

#title:hover::after {
  transform: scale(1.03);
  top: -3px;
}

/* NEWS LIST */

#news-list {
  margin: 0;
  padding: 0 7% 0 7%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

/* NEWS BLOCK */

.news-block {
  display: inline-flex;
  flex-direction: column;
  width: 50vw;
  min-height: 20vh;
  background-color: #DF5612;
  border-radius: 38px;
  position: relative;
}

.news-block:hover {
  cursor: pointer;
}

/* NEWS ITEM */

.news-item {
  display: flex;
  margin-bottom: 80px;
  column-gap: 75px;
}

.news-item:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}

.news-item:nth-child(even) > .news-block {
  align-items: flex-end;
}

.news-item:nth-child(3n + 1) > .news-block {
  background-color: #DF5612;
  color: #DF5612;
}

.news-item:nth-child(3n + 2) > .news-block {
  background-color: #1EAE9E;
  color: #1EAE9E;
}

.news-item:nth-child(3n + 3) > .news-block {
  background-color: #6877A1;
  color: #6877A1;
}

/* HEADLINE */

.news-block > .headline {
  background-color: #D9D9D9;
  font-family: 'Unbounded';
  font-weight: 500;
  font-size: 18px;
  width: fit-content;
  padding: 10px;
  margin: 15px;
  border-radius: 18px;
}

/* NEWS CONTENT */

.news-block > .news-content {
  color: #D9D9D9;
  font-family: 'Kanit';
  font-weight: 500;
  font-size: 14px;
  padding: 0 20px 20px 20px;
}

/* REACTION CONTAINER */

.reaction-container {
  width: auto;
  position: absolute;
  right: -10px;
  bottom: -10px;
}

.news-item:nth-child(even) .reaction-container {
  left: -10px;
  bottom: -10px;
}

.reaction-container:has(.reaction) {
  right: -58px;
  bottom: -42px;
}

.reaction-container:has(.reaction) .reaction::before {
  content: url(./assets/little-cloud.svg);
  position: absolute;
  left: -16px;
  top: -5px;
}

.news-item:nth-child(even) .reaction-container:has(.reaction) {
  left: -58px;
  bottom: -42px;
}

.news-item:nth-child(even) .reaction-container:has(.reaction) .reaction::before {
  transform: rotateY(180deg);
  right: -16px;
  top: -5px;
}

/* REACTION DEAFAULT */

.reaction-deafault {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: #D9D9D9;
  border-radius: 15px;
}

.reaction-deafault::after {
  display: flex;
  justify-content: center;
  height: 110%;
  align-items: center;
}

.news-item:nth-child(even) .reaction-deafault {
  transform: rotate(-180deg);
}

.news-item:nth-child(3n + 1) .reaction-deafault::after {
  content: url(./assets/wink-reaction-orange.svg);
}

.news-item:nth-child(3n + 2) .reaction-deafault::after {
  content: url(./assets/wink-reaction-green.svg);
}

.news-item:nth-child(3n + 3) .reaction-deafault::after {
  content: url(./assets/wink-reaction-purple.svg);
}

/* REACTION LIST */

.reaction-list {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  align-self: flex-end;
  transform: translateY(11px);
}

/* REACTION */

.reaction {
  position: relative;
  display: inline-block;
  width: 63px;
  height: 54px;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* EMOTIONS */

.happy-emotion {
  background-image: url(./assets/happy-emotion.svg);
}

.loved-emotion {
  background-image: url(./assets/loved-emotion.svg);
  background-position: center;
  position: relative;
}

.loved-emotion::after {
  content: url(./assets/hearts.svg);
  position: absolute;
  top: -3.5px;
  left: -7px;
}

.enjoyed-emotion {
  background-image: url(./assets/enjoyed-emotion.svg);
}

.unsatisfied-emotion {
  background-image: url(./assets/unsatisfied-emotion.svg);
}

.angry-emotion {
  background-image: url(./assets/angry-emotion.svg);
}

.sad-emotion {
  background-image: url(./assets/sad-emotion.svg);
}



